<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.techzonecs.tremble" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".utilities.AppController"
        android:allowBackup="true"
        android:icon="@drawable/tremble_temp_logo2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme" >
        <activity android:name=".controller.LoginPageActivity" >
        </activity>
        <activity android:name=".controller.SessionListViewActivity" >
        </activity>
        <activity android:name=".controller.ProfileViewActivity" >
        </activity>
        <activity android:name=".controller.ListItemViewActivity" >
        </activity>
        <activity android:name=".controller.EditProfileActivity" >
        </activity>
        <activity android:name=".controller.SplashScreenActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".controller.QrMakerActivity" >
        </activity>
    </application>

</manifest>
